/*
    filled button into quernetzer-style
*/
.btn-quernetzer {
    font-size: 17px;
    color: #fff;
    background-color: #00987a;
    border-color: #00987a;
}

.btn-quernetzer:hover {
    color: #fff;
    background-color: #342854;
    border-color: #333366;
}

.btn-quernetzer:focus, .btn-quernetzer.focus {
    color: #fff;
    background-color: #342854;
    border-color: #333366;
    box-shadow: 0 0 0 0.2rem rgba(52, 40, 84, 0.5);
}

.btn-quernetzer.disabled, .btn-quernetzer:disabled {
    color: #fff;
    background-color: #342854;
    border-color: #333366;
}

.btn-quernetzer:not(:disabled):not(.disabled):active, .btn-quernetzer:not(:disabled):not(.disabled).active,
.show > .btn-quernetzer.dropdown-toggle {
    color: #fff;
    background-color: #342854;
    border-color: #333366;
}

.btn-quernetzer:not(:disabled):not(.disabled):active:focus, .btn-quernetzer:not(:disabled):not(.disabled).active:focus,
.show > .btn-quernetzer.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 40, 84, 0.5);
}

/*
    button outline into quernetzer-style
*/
.btn-outline-quernetzer {
    color: #00987a;
    border-color: #00987a;
}

.btn-outline-quernetzer:hover {
    color: #fff;
    background-color: #342854;
    border-color: #333366;
}

.btn-outline-quernetzer:focus, .btn-outline-quernetzer.focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 40, 84, 0.5);
}

.btn-outline-quernetzer.disabled, .btn-outline-quernetzer:disabled {
    color: #00987a;
    background-color: transparent;
}

.btn-outline-quernetzer:not(:disabled):not(.disabled):active, .btn-outline-quernetzer:not(:disabled):not(.disabled).active,
.show > .btn-outline-quernetzer.dropdown-toggle {
    color: #fff;
    background-color: #342854;
    border-color: #333366;
}

.btn-outline-quernetzer:not(:disabled):not(.disabled):active:focus, .btn-outline-quernetzer:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-quernetzer.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 40, 84, 0.5);
}