.table-responsive{
    border-radius: 20px;
    border-left-style: solid;
    border-right-style: solid;
    border-color: #333366;
}

.table-component{
    padding-top: 80px;
    margin: 15px;
}

thead{
    background-color: #333366;
    color: white;
}
