
.table-image-preview {
    width: 50px;
    height: 50px;
    border: 1px solid #dddddd;

    font-size: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: normal;
    color: #cccccc;
}

.table-image-preview__image {
    display: none;
    width: 100%;
}