.navbar{
    z-index: 999;
    position: unset;
    top: 0;
    width: 100%;
    font-family: "Intro Regular",sans-serif!important;
}

.bg-dark {
    background-color: #333366 !important;
}

a.bg-dark:hover, a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
    background-color: #333366 !important;
}