img{
    display: block;
    width: 100%;
    height: 100%;
}

.grid-container {
    margin: 0 auto;
    width: 80%;
    height: 50%;
    display: grid;
    grid-template-columns: auto auto;
}

.grid-item {
    padding: 10px;
    text-align: center;
}

.tags{
    list-style: none;
    display: flex ;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    color: grey;
}

.categories{
    list-style: none;
    display: flex ;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}