.btn-link {
    color: #00987a;
    font-size: large;
}

.btn-link:hover {
    color: #00987a;
    text-decoration: unset;
}

.description-button {
    display: flex;
    font-size: x-large;
}

.description-arrow {
    margin-left: 30px;
    color: #333366;
    font-weight: bold;
    transform: rotate(0deg);
    transition: transform 0.3s;
}

.description-arrow-active {
    margin-left: 30px;
    color: #333366;
    font-weight: bold;
    transform: rotate(90deg);
    transition: transform 0.3s;
}

.card {
    border: unset;
    font-size: 24px;
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: unset;
    text-decoration: unset;
}

.accordion > .card > .card-header {
    background-color: white;
    border: unset;
}


@media only screen and ( max-width: 700px ) {
    .card {
        border: unset;
        font-size: 18px;
    }
    .description-button {
        display: flex;
        font-size: medium;
    }
}

@media only screen and ( min-width: 750px ) and ( max-width: 1050px ){
    .card {
        border: unset;
        font-size: 20px;
    }
}