
.App {
    text-align: -webkit-center;
}

button {
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    padding: .4rem .75rem;
    border-bottom-width: 3px;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: unset;
}


button:focus {
    outline: transparent;
}
