.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #F8F8F8;
    background-clip: padding-box;
    border: 3px solid rgb(51, 51, 102);
    border-radius: unset;
    outline: 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.modal-content:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 18%;
    width: 0;
    height: 0;
    border: 57px solid transparent;
    border-top-color: #333366;
    border-bottom: 0;
    border-left: 0;
    margin-left: -28.5px;
    margin-bottom: -57px;
}

.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
    color: #FFF;
    opacity: unset;
}

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: #333366;
    border-top-left-radius: calc(0rem - 0px);
    border-top-right-radius: calc(0rem - 0px);
}


