@font-face {
  font-family:Intro;
  src: url('../src/fonts/IntroRegular.ttf')
    format("truetype");
}

* {
  font-family: Intro, sans-serif;
}

body {
  margin: 0;
  font-family: Intro, sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  font-family: Intro, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#graph{
  border-style: solid;
  border-color: #b3b3b3;
  border-width: 1px;
  background-color: #f9f9f9;
}