#parent{
    position: relative;
}
.imagePreview{
    width: 100%;
    min-height: 300px;
    border: 2px solid #dddddd;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #cccccc;
}

.delButton{
    position: absolute;
    top: 0px;
    right: 0px;
}

.delButtonColor{
    color: white;
}

.imagePreviewImage{
    display: none;
    width: 100%;
}

.warning{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #dc3545;
}